.common {
             height: 200px;
             width: 200px;
             border: 10px solid purple;
             display: inline-block;
             border-radius: 150px;
             text-align: center;
             line-height: 200px;
        }
        .a{
            background:url("./1.jpeg") 0px/200px;
            
            
        }
        .b{
            background-color: rgb(0, 255, 0);
        }
        .c{
            background-color: rgb(230, 0, 255);
        }
        .d{
            background-color: rgb(0, 187, 255);
        }
        
